fastapi
uvicorn[standard]
pydantic
langgraph
langchain
langchain-core
langchain-google-vertexai
langchain-google-genai
langchain-community
google-cloud-aiplatform
google-cloud-firestore
google-cloud-storage
chromadb
langchain-chroma
langchain-text-splitters
python-dotenv
pydantic-settings
pypdf